## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="bootstrap" file="bootstrap_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
<!DOCTYPE html>
<html
%if comment_system == 'facebook':
xmlns:fb="http://ogp.me/ns/fb#"
%endif
lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${bootstrap.html_head()}
    <%block name="extra_head">
    </%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.css()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.css()}
    % endif
    ${extra_head_data}
</head>
<body>
<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="${abs_link('/')}">${blog_title}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            ${bootstrap.html_navigation_links()}
        </ul>
        %if search_form:
            ${search_form}
        %endif

        <ul class="nav navbar-nav navbar-right">
            <%block name="belowtitle">
            %if len(translations) > 1:
                <li>${base.html_translations()}</li>
            %endif
            </%block>
            % if not hide_sourcelink:
                <%block name="sourcelink"></%block>
            %endif
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- End of Menubar -->

<div class="container">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            <%block name="content"></%block>
        </div>
        <!--End of body content-->
		<footer style="text-align: center">
		<p><a href="/python/asal-yolculuk.html">Asal Sayı Algoritmaları</a>-
		<a href="/python/python-ile-yazilmis-programlar.html">Python ile yazılmış programlar</a>-
		<a href="/python/kullanim-alanlari.html">Python kullanım alanları</a>-
		<a href="/python/unicode-decode-error-ordinal-not-in-range.html">Encode/Decode hataları</a></p>
<div id="search">
<script>
  (function() {
    var cx = '013136674562336859018:ouohwab0yku';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="gcse-search"></div>
</div>
<p><a href="/rss.xml">RSS</a></p>
<p><a href="http://area51.stackexchange.com/proposals/64143/turkish-language-usage?referrer=67_nJx8n4k8eXznPcwqhDA2"><img src="http://area51.stackexchange.com/ads/proposal/64143.png" width="220" height="250" alt="Stack Exchange Q&A site proposal: Turkish Language & Usage" /></a></p>
<p>Sevdiğim site ve bloglar:<p>
<p><a href="http://www.catb.org/esr/">Eric Raymond</a>, <a href="http://norvig.com/">Peter Norvig</a>, <a href="http://swtch.com/~rsc/">Russ Cox</a>, <a href="http://effbot.org/">effbot.org</a><br />
<a href="http://www.saltycrane.com/blog/">SaltyCrane</a><br />
<a href="http://eli.thegreenplace.net/">Eli Bendersky's website</a><br />
<a href="http://www.catonmat.net/">Good coders code, great coders reuse</a></p>
        <p style="font-size: 6px; font-style: italic; font-variant: small-caps; font-weight: 800; font-family: Lucida,Helvetica,sans-serif">
Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program.
		</p>
		<p>
		<a href="http://www.catb.org/hacker-emblem/faqs.html" title="Hacker Emblem">
		<img src="/images/glider.png" alt="Conway's Game of Life, glider"/></a></p>
            ${content_footer}
        </footer>
    </div>
</div>

${bootstrap.late_load_js()}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <%block name="extra_js"></%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.code()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.code()}
    % endif
${body_end}
</body>
