## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
	<section itemscope itemtype="http://schema.org/Blog">
    % for post in posts:
        <article class="postbox" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 itemprop=name><a itemprop="url" href="${abs_link(post.permalink())}">${post.title()}</a></h1>
        <small>&nbsp;&nbsp;
             ${messages("Posted")}: <time itemprop="datePublished" class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
        </small>
		<meta itemprop="description" content="${post.meta('description')}">
        <hr>
        ${post.text(teaser_only=index_teasers)}
        </article>
    % endfor
	</section>
    ${helper.html_pager()}
	${helper.mathjax_script(posts)}
</%block>
