## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="base" file="base_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}"/>
% endif
</%block>
<%block name="content">

% if code:
    ${code}
% endif
    <article itemscope itemtype=http://schema.org/BlogPosting class="postbox">
	${helper.html_pager(post)}
    <h1 itemprop=name>${title|h}</h1>
	
	<meta itemprop="url" content="${post.permalink(absolute=True)}">
    % if link:
            <p><a href='${link}'>${messages("Original site")}</a></p>
    % endif
	<meta itemprop="description" content="${description}">
    <hr>
    <small>
        ${messages("Posted")}: <time class="published" datetime="${post.date.isoformat()}" itemprop="datePublished">${post.formatted_date(date_format)}</time>
        ${helper.html_translations(post)}
        ${helper.html_tags(post)}
		Yazan:  <a itemprop="author" rel="author" href="${authorprofile}">${author}</a>
		<div style="float: right"><a href="https://twitter.com/share" class="twitter-share-button" data-url="${post.permalink(absolute=True)}" data-text="${title|h}" data-via="y_arabaci" data-lang="tr">Tweet</a><div class="g-plusone" data-href="${post.permalink(absolute=True)}"></div></div>
    </small>
    <hr>
	<div itemprop="articleBody">
    ${post.text()}
	</div>
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
    % endif
    </article>
</%block>

<%block name="sourcelink">
% if not post.meta('password'):
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
    </li>
% endif
</%block>

<%block name="extra_js">
${social_buttons_code}
</%block>
