AddCharset UTF-8 .html
AddCharset UTF-8 .xml

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js)$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 5 minutes"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType text/css "access plus 2 days"
  ExpiresByType text/javascript "access plus 2 days"
  ExpiresByType application/x-javascript "access plus 2 days"
</ifModule>

<ifModule mod_headers.c>
  Header set Connection keep-alive
  <filesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=2629743, public"
  </filesMatch>
  <filesMatch "\\.(css)$">
    Header set Cache-Control "max-age=172800, public"
  </filesMatch>
  <filesMatch "\\.(js)$">
    Header set Cache-Control "max-age=172800, public"
  </filesMatch>
  <filesMatch "\\.(xml|txt)$">
    Header set Cache-Control "max-age=300, public"
  </filesMatch>
  <filesMatch "\\.(html|htm|php)$">
    Header set Cache-Control "max-age=300, public"
  </filesMatch>
</ifModule>

RewriteEngine On
RewriteRule ^rss$ /rss.xml [R=301,L]
RewriteRule ^hakkimda$ /yasar-arabaci.html [R=301,L]
RewriteRule ^ask$ /soru-cevap.html [R=301,L]
RewriteRule ^sitemap1.xml$ /sitemap.xml [R=301,L]
RewriteRule ^sitemap-pages.xml$ /sitemap.xml [R=301,L]
RewriteRule ^\?feed=rss /rss.xml [R=301,L]
RewriteRule ^python/python-decorator-nedir.html /python/decorator.html [R=301,L]
RewriteRule ^post/14857699745.* /python/range-ve-xrange.html [R=301,L]
RewriteRule ^post/14860704939.* /python/django-301-redirect.html [R=301,L]
RewriteRule ^post/14858864809.* /yazilim-dunyasi/windowsda-gnu-linux-tadi-cygwin.html [R=301,L]
RewriteRule ^post/14859505647.* /python/pdb-ile-debug.html [R=301,L]
RewriteRule ^post/14859668140.* /python/django-blog-uygulamasi/kurulum-ve-ilk-ayarlar.html [R=301,L]
RewriteRule ^post/14859859455.* /python/django-blog-uygulamasi/uygulama-modeller.html [R=301,L]
RewriteRule ^post/14860153580.* /python/django-blog-uygulamasi/yonetici-paneli.html [R=301,L]
RewriteRule ^post/14860309352.* /python/django-sablonlarinda-php.html [R=301,L]
RewriteRule ^post/14860489402.* /python/django-abstract-model.html [R=301,L]
RewriteRule ^post/14860588802.* /python/django-blog-uygulamasi/url-mapping-ve-views.html [R=301,L]
RewriteRule ^post/14860758013.* /python/django-blog-uygulamasi/template.html [R=301,L]
RewriteRule ^post/14860986214.* /python/django-blog-uygulamasi/sitemap-rss.html [R=301,L]
RewriteRule ^post/14861079216.* /python/dotcloud.html [R=301,L]
RewriteRule ^post/14861464431.* /python/5-django-ipucu.html [R=301,L]
RewriteRule ^post/14861560573.* /python/url-duzeltme-algoritmasi.html [R=301,L]
RewriteRule ^post/14861706912.* /python/if-else-mi-try-except-mi.html [R=301,L]
RewriteRule ^post/14861813242.* /python/djangoda-paket-yoneticisi.html [R=301,L]
RewriteRule ^post/14870524124.* /algoritma/benzer-yazi-analizi.html [R=301,L]
RewriteRule ^post/14870694102.* /algoritma/benzer-yazi-analizi-2.html [R=301,L]
RewriteRule ^post/14870879053.* /python/web-sayfalarindan-veri-okumak.html [R=301,L]
RewriteRule ^post/14870987224.* /python/birim-testi-ve-test-temelli-gelistirme.html [R=301,L]
RewriteRule ^post/14871073188.* /python/djangoda-tembel-reverse.html [R=301,L]
RewriteRule ^post/14871247489.* /yazilim-dunyasi/git-deposunu-bolme.html [R=301,L]
RewriteRule ^post/14871439461.* /python/surumler-arasi-gecis-rehberi.html [R=301,L]
RewriteRule ^post/14871648766.* /python/djangoda-aggregate-and-annotate.html [R=301,L]
RewriteRule ^post/14871724002.* /python/birkac-soruya-cevap.html [R=301,L]
RewriteRule ^post/14872002057.* /python/str-objesini-genisletmek.html [R=301,L]
RewriteRule ^post/14872284890.* /python/profile-modulu.html [R=301,L]
RewriteRule ^post/14872417410.* /python/google-api-ile-url-kisaltma.html [R=301,L]
RewriteRule ^post/14872847071.* /python/djangoda-sinif-temelli-genel-gorunumler.html [R=301,L]
RewriteRule ^post/14873498314.* /python/asal-yolculuk.html [R=301,L]
RewriteRule ^post/14873595051.* /python/and-ve-or.html [R=301,L]
RewriteRule ^post/14873752371.* /python/cesitli-yazilim-gelistirme-desenleri.html [R=301,L]
RewriteRule ^post/14873903999.* /python/kayit-log-dosyalari.html [R=301,L]
RewriteRule ^post/14874115816.* http://www.youtube.com/watch?v=Ww7BeIdUbUI [R=301,L]
RewriteRule ^post/14874197791.* http://www.youtube.com/watch?v=yo8ZZLZ4TB8 [R=301,L]
RewriteRule ^post/14874344760.* /python/matematik-araclari-kutuphanesi.html [R=301,L]
RewriteRule ^post/14874457045.* /python/excel-kutuphaneleri.html [R=301,L]
RewriteRule ^post/14874579408.* /python/soket-programlama-ve-multiprocessing.html [R=301,L]
RewriteRule ^post/14874740249.* /python/beautiful-soup-ve-basitce-kullanimi.html [R=301,L]
RewriteRule ^post/14874994334.* /python/orneklerle-meta-classes-siniflar.html [R=301,L]
RewriteRule ^post/14967402906.* /python/toplu-halde-http-durum-kodu-alma.html [R=301,L]
RewriteRule ^post/14978113362.* /soru-cevap.html [R=301,L]
RewriteRule ^post/15019597125.* /algoritma/kimya-formula-parser.html [R=301,L]
RewriteRule ^post/15022800348.* /soru-cevap.html [R=301,L]
RewriteRule ^post/15085633659.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/15198002106.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/15472405964.* /yazilim-dunyasi/arch-linux-paket-grafigi.html [R=301,L]
RewriteRule ^post/15474718556.* /yazilim-dunyasi/arch-linux-paket-grafigi-2.html [R=301,L]
RewriteRule ^post/16158592035.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/16192962843.* /algoritma/iki-bilinmeyenli-denklem-cozumleri.html [R=301,L]
RewriteRule ^post/16219489378.* /yazilim-dunyasi/sayilarla-archlinux-paketcileri.html [R=301,L]
RewriteRule ^post/16329234423.* http://www.youtube.com/watch?v=Cbk980jV7Ao [R=301,L]
RewriteRule ^post/22697381199.* /python/yield.html [R=301,L]
RewriteRule ^post/22751163382.* /python/decorator.html [R=301,L]
RewriteRule ^post/29618515115.* /python/soket-socket.html [R=301,L]
RewriteRule ^post/29683422691.* /python/soket-socket-2.html [R=301,L]
RewriteRule ^post/29964542244.* /python/eklenti-windows-derleme.html [R=301,L]
RewriteRule ^post/29985863738.* /python/soket-socket-yardimci-fonksiyon.html [R=301,L]
RewriteRule ^post/30181266866.* /python/threading.html [R=301,L]
RewriteRule ^post/30348061077.* /python/descriptor.html [R=301,L]
RewriteRule ^post/30535313700.* /python/soket-socket-makefile.html [R=301,L]
RewriteRule ^post/34093804396.* /soru-cevap.html [R=301,L]
RewriteRule ^post/35627895625.* /python/string-translate.html [R=301,L]
RewriteRule ^post/35769307079.* /soru-cevap.html [R=301,L]
RewriteRule ^post/36592495762.* /algoritma/matlab-sieve-of-erastosthenes.html [R=301,L]
RewriteRule ^post/36741885951.* /python/resources-kaynaklar.html [R=301,L]
RewriteRule ^post/38141842477.* /python/tkinter-random-number-rastgele-sayi.html [R=301,L]
RewriteRule ^post/38231479154.* /python/narsist-sayi.html [R=301,L]
RewriteRule ^post/39158045369.* /python/list-dersleri-tutorial.html [R=301,L]
RewriteRule ^post/39388253223.* /yazilim-dunyasi/python-olum-istatistik.html [R=301,L]
RewriteRule ^post/39740288664.* /yazilim-dunyasi/ideal-python-klavyesi.html [R=301,L]
RewriteRule ^post/40965346446.* /yazilim-dunyasi/awk-kelime-sayma.html [R=301,L]
RewriteRule ^post/41028901963.* /yazilim-dunyasi/bitly-php-library.html [R=301,L]
RewriteRule ^post/41224213435.* /yazilim-dunyasi/bitly-php-kutuphane.html [R=301,L]
RewriteRule ^post/41477517975.* /yazilim-dunyasi/real-scientists-make-their-own-data.html [R=301,L]
RewriteRule ^post/41486229716.* /python/wikipedia-api-kategori-export.html [R=301,L]
RewriteRule ^post/41514428773.* /python/wikipedia-api-kategori-export-html.html [R=301,L]
RewriteRule ^post/41738103790.* /yazilim-dunyasi/tumblr-bloguna-gist-gommek.html [R=301,L]
RewriteRule ^post/41811446296.* /yazilim-dunyasi/xlib-ne-kadar-zor-olabilir-ki.html [R=301,L]
RewriteRule ^post/42040064775.* /yazilim-dunyasi/google-fusion-tables-twitter-follower-haritasi.html [R=301,L]
RewriteRule ^post/42050694619.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/42266619322.* /python/iki-tarih-arasindaki-gun-farki.html [R=301,L]
RewriteRule ^post/48046015301.* /soru-cevap.html [R=301,L]
RewriteRule ^post/57611735229.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/57869700066.* /yazilim-dunyasi/javada-ilk-izlenimlerim.html [R=301,L]
RewriteRule ^post/57995808042.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/58061997568.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/58194124799.* /yazilim-dunyasi/java-izlenimleri-2.html [R=301,L]
RewriteRule ^post/60926409129.* /soru-cevap.html [R=301,L]
RewriteRule ^post/61312328348.* /soru-cevap.html [R=301,L]
RewriteRule ^post/61312527828.* /soru-cevap.html [R=301,L]
RewriteRule ^post/61665625559.* /galeri/eglence/ [R=301,L]
RewriteRule ^post/61879534273.* /soru-cevap.html [R=301,L]
RewriteRule ^post/62242031877.* /soru-cevap.html [R=301,L]
RewriteRule ^post/63472879264.* /diger/yeni-blog.html [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+http://[^/]+([^\s]+) [NC]
RewriteRule ^ %1 [R=301,L,NE]



